.container {
    background-color: #000;
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.header {
    position: relative;
}

.main {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    height: calc(100% - 50px);
    box-sizing: border-box;
    overflow-y: auto;
}

.banner {
    position: relative;
}
.bannerTitle {
    font-size: 2em;
    margin: 0;
}

.contents {
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    width: 120px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.poster {
    border: 2px solid transparent;
    position: relative;
    width: 120px;
    height: 180px;
    object-fit: contain;
    box-sizing: border-box;
}
.poster:hover {
    border: 2px solid #fff;
    object-fit: cover;
}
.title {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    margin: 0;
}

@media screen and (min-width: 350px) {
    .movie {
        width: 150px;
    }
    .poster {
        width: 150px;
        height: 225px;
    }
}